openapi: 3.0.3
info:
  title: BB-PocketSmith — Read-Only External Accounting Client
  version: 1.0.0
  description: |
    Flag-based (OCTOPUS_WIRE_POCKETSMITH), stdlib-only urllib client for
    PocketSmith API v2. Retry on 429, dedup by id, merge to txn_store.
    Fail-soft, read-only GET only. $0 offline-first (flag off = no-op).
    Hard red lines: only GET, key never logged/echoed, secrets never leave boundary.
  contact:
    name: Octopus System
  x-invariant:
    - I6: no hardcoded numbers (timeouts/config from env)
    - Secrets never leave boundary (key only in header)
    - Propose-only (sync writes txn_store file only, zero external side-effects)

servers:
  - url: https://api.pocketsmith.com/v2
    description: PocketSmith API v2 base URL

paths:
  /me:
    get:
      operationId: pocketsmith.me
      summary: Verify key + get user id
      description: |
        Returns wired=True if flag is on and network attempted.
        PII-safe: only user_id, never email/name.
      parameters:
        - name: key
          in: header
          required: false
          schema:
            type: string
          description: API key override (normally from env)
        - name: timeout
          in: query
          required: false
          schema:
            type: integer
            default: 30
      responses:
        "200":
          description: Me response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "403":
          description: Invalid key or no key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailSoftResponse"
      x-python-signature: |
        def me(*, key: str | None = None, timeout: int = 30) -> dict

  /users/{user_id}/transaction_accounts:
    get:
      operationId: pocketsmith.list_accounts
      summary: List transaction accounts (PII-safe)
      description: |
        Returns only id/title/type/currency. Never balance/account number.
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
        - name: key
          in: header
          required: false
          schema:
            type: string
        - name: timeout
          in: query
          required: false
          schema:
            type: integer
            default: 30
      responses:
        "200":
          description: Account list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountListResponse"
      x-python-signature: |
        def list_accounts(user_id, *, key: str | None = None, timeout: int = 30) -> dict

  /users/{user_id}/transactions:
    get:
      operationId: pocketsmith.fetch_transactions
      summary: Fetch transactions with pagination
      description: |
        Follows Link rel="next" header for pagination. Max 1000 pages guard.
        Returns raw transaction list (caller maps to store schema).
      parameters:
        - name: user_id
          in: path
          required: false
          schema:
            type: integer
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 100
        - name: key
          in: header
          required: false
          schema:
            type: string
        - name: timeout
          in: query
          required: false
          schema:
            type: integer
            default: 30
      responses:
        "200":
          description: Transaction list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionListResponse"
      x-python-signature: |
        def fetch_transactions(start_date, end_date, *, user_id=None, key=None, timeout=30, per_page=100, max_pages=1000) -> dict

  /sync:
    post:
      operationId: pocketsmith.sync
      summary: Full sync — fetch + map + merge (dedup) → txn_store
      description: |
        Propose-only: writes txn_store file only, zero financial side-effects.
        Idempotent: dedup by PocketSmith id prevents duplicates on re-sync.
        Flag off or no key → no-op with honest empty output.
      parameters:
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: persist
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: store_path
          in: query
          required: false
          schema:
            type: string
        - name: key
          in: header
          required: false
          schema:
            type: string
        - name: timeout
          in: query
          required: false
          schema:
            type: integer
            default: 30
      responses:
        "200":
          description: Sync result (counts only, never raw transactions)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncResponse"
      x-python-signature: |
        def sync(start_date, end_date, persist: bool = True, *, store_path=None, key=None, timeout=30) -> dict

  /toStoreTxns:
    post:
      operationId: pocketsmith.to_store_txns
      summary: Map raw PocketSmith transactions to txn_store schema
      description: |
        Preserves owner's existing category and labels (semi-categorized ground truth).
        Amount converted to integer cents (signed: negative=outflow, positive=inflow).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
      responses:
        "200":
          description: Mapped store rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StoreTxn"
      x-python-signature: |
        def to_store_txns(raw) -> list[dict]

components:
  schemas:
    MeResponse:
      type: object
      required: [ok, wired, user_id, note]
      properties:
        ok:
          type: boolean
        wired:
          type: boolean
          description: True if flag is on and network was attempted
        user_id:
          type: integer
          nullable: true
        note:
          type: string

    AccountListResponse:
      type: object
      required: [ok, wired, count, accounts, note]
      properties:
        ok:
          type: boolean
        wired:
          type: boolean
        count:
          type: integer
        accounts:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              title:
                type: string
              type:
                type: string
              currency:
                type: string
        note:
          type: string

    TransactionListResponse:
      type: object
      required: [ok, wired, transactions, pages, note]
      properties:
        ok:
          type: boolean
        wired:
          type: boolean
        transactions:
          type: array
          items:
            type: object
          description: Raw PocketSmith transaction objects
        pages:
          type: integer
        note:
          type: string

    SyncResponse:
      type: object
      required: [ok, wired, fetched, mapped, new_added, total_after_merge, persisted, reconcile, note]
      properties:
        ok:
          type: boolean
        wired:
          type: boolean
        fetched:
          type: integer
          description: Raw count from API
        mapped:
          type: integer
        existing:
          type: integer
        new_added:
          type: integer
        total_after_merge:
          type: integer
        persisted:
          type: boolean
        reconcile:
          type: object
          properties:
            total_rows:
              type: integer
            source_count:
              type: integer
            per_source_rows:
              type: object
              additionalProperties:
                type: integer
            total_net_cents:
              type: integer
            tie_out_ok:
              type: boolean
        note:
          type: string

    StoreTxn:
      type: object
      required: [id, date, amount_cents, desc, source, account, owner, ptype, category, labels, review, note]
      properties:
        id:
          type: string
          description: Stable PocketSmith id for dedup
        date:
          type: string
          format: date
        amount_cents:
          type: integer
          description: Signed integer cents (negative=outflow, positive=inflow)
        desc:
          type: string
          maxLength: 120
        source:
          type: string
          enum: [pocketsmith-api]
        account:
          type: string
        owner:
          type: string
          enum: [unknown]
        ptype:
          type: string
          enum: [unknown]
        category:
          type: string
          description: Owner's existing category title
        labels:
          type: array
          items:
            type: string
        review:
          type: string
          enum: [pending]
        note:
          type: string

    FailSoftResponse:
      type: object
      required: [ok, wired, note]
      properties:
        ok:
          type: boolean
          enum: [false]
        wired:
          type: boolean
        note:
          type: string

  securitySchemes:
    PocketSmithKey:
      type: apiKey
      in: header
      name: X-Developer-Key
      description: |
        PocketSmith developer key (read-only). Value sourced from env var
        POCKETSMITH_API_KEY only. Never logged, echoed, or returned.

security:
  - PocketSmithKey: []

x-octopus-metadata:
  file_path: _ops/legs/pocketsmith_api.py
  invariant_tags: [I6, SecretsBoundary, ProposeOnly]
  fail_closed: false
  propose_only: true
  side_effects: false
  notes: |
    ONLY GET methods. No POST/PUT/DELETE to PocketSmith.
    Flag-based: OCTOPUS_WIRE_POCKETSMITH must be set for any network activity.
    Default: off = no-op, zero network. Retry on 429 with backoff.
    Secrets never leave boundary (key only in HTTP header).
